---
import Calendar from './icons/Calendar.astro'
import Phone from './icons/Phone.astro'
import Pin from './icons/Pin.astro'

type ContactType = 'phone' | 'email' | 'address' | 'birthDate'

interface Props {
  information: string
  kind: ContactType
}

const informationDict = {
  address: {
    label: 'Dirección',
  },
  phone: {
    label: 'Teléfono',
  },
  email: {
    label: 'Email',
  },
  birthDate: {
    label: 'Fecha de Nacimiento',
  },
}

const { information, kind } = Astro.props
const concreteInformation = informationDict[kind]
---

<div class="flex flex-row justify-center items-center gap-2.5">
  <div class="grid place-content-center h-10 w-10 shadow-sm bg-white rounded-lg" data-testid="icon">
    {
      {
        address: <Phone className="text-[#047857]" />,
        phone: <Pin className="text-[#92400E]" />,
        email: <Phone className="text-[#A21CAF]" />,
        birthDate: <Calendar className="text-[#075985]" />,
      }[kind]
    }
  </div>
  <div class="flex-1 flex flex-col text-stone-700">
    <div class="text-sm font-medium">
      {concreteInformation.label}
    </div>
    <div class="font-semibold text-base">
      {information}
    </div>
  </div>
</div>
