---
import HeaderCV from '@components/HeaderCV.astro'
import CVLayout from 'src/layouts/CVLayout.astro'
import Profile from '@components/Profile.astro'
import CVLink from '@components/CVLink.astro'
---

<CVLayout>
  <HeaderCV />
  <main class="flex flex-col gap-9 lg:flex-row">
    <Profile fullName={'Nombre Persona'} />
    <section class="flex-1 flex flex-col">
      <article class="flex justify-end" data-testid="buttons">
        <nav class="flex gap-3 px-7 py-6 bg-white/50 rounded-xl">
          <CVLink name="info" />
          <CVLink name="cv" />
          <CVLink name="blogs" />
          <CVLink name="contact" />
          <CVLink name="faq" />
        </nav>
      </article>
      <article
        data-testid="info-section"
        class="bg-white bg-opacity-50 rounded-2xl mt-6 min-h-32 p-10"
      >
        Info Section
      </article>
    </section>
  </main>
</CVLayout>
